#main{
	width:80%;
	height:100vh;
	position:absolute;
	left:0;
	overflow-y:auto;
}
#techinfo{
	position:fixed;
	height:100vh;
	width:20%;
	top:0;
	right:0;
	display: flex;
	flex-direction: column;
}

#techinfo>div:last-child{
	margin-top:5px;
	margin-bottom:5px;
	flex-grow:1;
	overflow-y:auto;
}

#action>.alert{
	word-wrap:break-word;
	white-space: pre;
	white-space: pre-line;
}
#action>.alert>hr{
	margin:0.3rem 0;
}

#led{
	width:0.5em;
	height:0.5em;
	border-radius:50%;
	float:right;
}
#page-container{
	overflow-x:auto;
}

#page{
	min-width:50rem;
}

/* pages */

#page.shop  #search_string,
#page.books #search_string{
	width:calc(100% - 26.1rem);
}

#page.shop #books,
#page.shop #book{
	display:none;
}

#page.shop .row.book img.cover,
#page.cart .row.book img.cover{
	max-height:3em;
}

#page.shop #book #det-rating-container,
#page.shop #books .rating-container{
	height:1.5rem;
	width:7.5rem;
	background-color:lightgray;
	z-index:1;
}

#page.shop #book #det-rating,
#page.shop #books .rating{
	padding:0;margin:0;height:1.5rem;position:absolute;top:0;z-index:2;
}

#page.shop #book #det-rating-stars,
#page.shop #books .rating-stars{
	position:absolute;
	display:flex;
	z-index:3;
}

#page.shop #book #det-rating-stars>img,
#page.shop #books .rating-stars>img{
	height:1.5rem;
}


#page.books #headers>span,
#page.tasks #headers>span{
	font-weight:bold;
}

#page.books .row.book form{
	border:8px solid gray;
	border-radius:8px;
	padding:8px;
}

#page.books .row.book form li.row{
	min-height:2.8em;
}

#page.books #books input[type="number"]{
	min-width:5em;
	max-width:5em;
}

#page.books #books input[type="date"]{
	min-width:8em;
	max-width:8em;
}

#page.books #books input[type="time"]{
	min-width:5em;
	max-width:5em;
}
