html{
}

#techinfo{
	min-height:calc(100vh - 20px);
	max-height:calc(100vh - 20px);
}

#techinfo>div:last-child{
	margin-top:10px;
	/*flex-grow:1;*/
	overflow-y:auto;
	scroll-behavior: smooth;
	scroll-snap-type: block proximity;
}

#action{
	/*scrollTop:100vh;*/
	scroll-snap-align: end;
	scroll-snap-stop: always;}

#action>.alert{
	word-wrap:break-word;
}
#action>.alert>hr{
	margin:0.3rem 0;
}

/* pages */
#page.books #books input[type="number"]{
	width:5rem;
}

#page.books .row.book form{
	border:8px solid gray;
	border-radius:8px;
	padding:8px;
}

#page.shop #search_string{
	width:calc(100% - 420px);
}

#page.shop #books,
#page.shop #book{
	display:none;
}


#headers>span{
	font-weight:bold;
}

#led{
	width:0.5em;
	height:0.5em;
	border-radius:50%;
}

/***********************************************/

/*
#main>div:nth-child(2){
	background-color:#f8f8f8;
	padding-top:10px;
	padding-bottom:5px;
}
*/
/*
#alert{
	min-height:60px;
	margin:10px 0 0 0;
}
*/

/* pages */
#page.books #authors .author{
	max-width:250px;
}
/* icons for accordion button */
#page.catalog [data-toggle="collapse"]:before {
    font-family: "Glyphicons Halflings";
    content: "\e114   ";
}
#page.catalog [data-toggle="collapse"].collapsed:before {
    content: "\e080   ";
}
