html{
}

#techinfo{
	max-height:100vh;
}

#action>.alert{
	padding:0.3rem 0.3rem;
}

#action>.alert.sql{
	word-wrap:break-word;
}
#action>.alert.sql>hr{
	margin:0.3rem 0;
}

/* pages */
#page.books #books input[type="number"]{
	width:5rem;
}



/***********************************************/


#main>div:nth-child(2){
	background-color:#f8f8f8;
	padding-top:10px;
	padding-bottom:5px;
}

/*
#alert{
	min-height:60px;
	margin:10px 0 0 0;
}
*/

/* pages */
#page.books #authors .author{
	max-width:250px;
}
/* icons for accordion button */
#page.catalog [data-toggle="collapse"]:before {
    font-family: "Glyphicons Halflings";
    content: "\e114   ";
}
#page.catalog [data-toggle="collapse"].collapsed:before {
    content: "\e080   ";
}

